body{
    background-color:#fff159;
}

.header{
    padding: 20px;
    background-color: #fff159;
    font-size:13px;
    font-family: 'Itim', cursive;
    padding-left: 45px;
}

.header span{
    color:#333;
    font-size:30px;
    font-family: 'Indie Flower', cursive;
    margin-right: 10px;
    font-weight: bold;
}