.sectionlistaAfuera{
    background-color: #fff159;
    padding:30px;
}
.divinput{
    width: 100%;

}
.sectionlistaAfuera h2{
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color:#333;
}
.divinput input{
    font-family: 'Itim', cursive;
    width: 100%;
    border-radius: 5px ;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    padding-left: 10px;
}

.boton{
    border-radius: 2px;
    font-family: 'Itim', cursive;
    color: #333;
    text-decoration: none;
    margin-top:5px;
    margin-bottom:5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#BAB61C;
    display: inline-block;
}
.boton:hover{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color:#BA941C;
    cursor: pointer;
}