.sectionlista{
    padding:40px;
    background: rgb(255,241,89);
    background: linear-gradient(0deg, rgba(255,241,89,1) 0%, rgba(129,14,157,1) 66%);
    color:#fff
}
.contenttop{
    margin-bottom:20px;
}

.contentArticle{
    display: flex;
    flex-wrap:wrap;
}

.contentArticle article{
    color:#000;
    background-color:#fff;
    border-radius: 8px;
    flex-grow: 4;
    margin: 5px;
    padding:15px
}
.contentArticle article:hover{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color:#F4F4F4; 
}
.contentArticle article img{
    width:120px;
    height:120px;
    float:left;
    margin:4px;
    margin-right:10px;
}
.contentArticle article h5{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 6px;
}

.contenttop h2{
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}
.contenttop p{
    font-family: 'Itim', cursive;
    font-size: 20px;
}

.contentArticle p , h5, span{
    font-family: 'Itim', cursive;
}
.contentArticle h5{
    font-size: 20px;
}

.contentArticle span{
    cursor: default;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
